header{
  background-color: #E2E3DD;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #b5b5b5;
  font-weight: bold;
  font-size:20px;
}

main{
  /*background-color: #EFF5F7;*/
  height: 94vh;
}

.tab{
  position: relative;
  border-right: 1px solid #b5b5b5;
  height: 100%;
  padding: 10px;
  width: 50%;
  float: left;
  overflow-y: auto;
}
.valuesTab{
  border: 1px solid #b5b5b5;
  margin: 1vw;
  border-radius: 3px;
}

.valuesHeader{
  border-bottom: 1px solid #b5b5b5;
  padding: 8px 5px;
  background-color: #a09c9c70;
  /*display: none;*/
  font-weight: bold;
}

.valuesBody{
  padding: 1.5vw;
  background-color: #f0fdfa9c;
}

.valuesBody label{
  display: block;
  font-weight: bolder;
  /*background-color: red;*/
}

.valuesBody input[type="text"]{
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #0000006b;
  border-radius: 3px;
}

.fileupload{
  border: 1px solid #b5b5b5;
  padding: 10px;
  border-radius: 3px;
  /*font-weight: bold;*/
  font-size: 16px;
  background-color: #f0f0f0;
  cursor: pointer;
}



.msg{
  position: fixed;
  bottom: -10px;
  right: 15px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  opacity: 0;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(50, 99, 50);
  color: whitesmoke;
  animation: bounceIn 10s;
}

@keyframes bounceIn {
  0% {
    opacity: 1;
    bottom: 15px;
  }
  100% {
    opacity: 0;
  }
}


.labelsBox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94.8vh;
}

.main_labels{
  border: 1px solid lightgrey;
  min-width: 400px;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px lightgrey;
}

.main_labels h1{
  color: indigo;
  font-size: 25px;
}

.labelList{
  list-style-type: none;
  text-align: left;
  padding: 0
}

.labelList li{
  display: inline;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 3px 5px;
  margin: 2px;
}

.newlabel{
      width: 100%;
    padding: 5px;
    margin: 8px 0;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
}